:root,
[data-theme='light'],
html.light {
  --bg1: #ffffff;
  --bg2: #f2f2f2;
  --bg3: #e2e2e2;

  --fn1: #000000;
  --fn2: #333333;
  --fnA: #ffffff;

  --tn1: #e9493b;
}

[data-theme='dark'],
html.dark {
  --bg1: #000000;
  --bg2: #1a1a1a;
  --bg3: #2b2b2b;

  --fn1: #ffffff;
  --fn2: #cccccc;
  --fnA: #000000;

  --tn1: #e9493b;
}
