@import 'tailwindcss';

@theme {
  --color-bg1: var(--bg1);
  --color-bg2: var(--bg2);
  --color-bg3: var(--bg3);
  --color-fn1: var(--fn1);
  --color-fn2: var(--fn2);
  --color-fnA: var(--fnA);
  --color-tn1: var(--tn1);
  --color-tn2: var(--tn2);

  --color-from: var(--gr-from);
  --color-via: var(--gr-via);
  --color-to: var(--gr-to);

  --font-geist: var(--font-geist), sans-serif;
  --font-geist-mono: var(--font-geist-mono), sans-serif;
  --font-instrument: var(--font-instrument), cursive;
  --font-emojis: var(--font-emojis), 'Apple Color Emoji', 'Segoe UI Emoji', 'Noto Color Emojis', sans-serif;

  --text-h1: 2rem; /* 32px */
  --text-h2: 1.6rem; /* 24px */
  --text-h3: 1.2rem; /* 20px */
  --text-h4: 1.1rem; /* 16px */
  --text-h5: 1rem; /* 14px */
  --text-p: 1rem; /* 16px */
  --text-a: 1rem; /* 16px */
  --text-span: 0.9rem; /* 14px */

  --breakpoint-region: 71rem;
  --breakpoint-min: 25rem;
}

@layer base {
  html {
    @apply scroll-smooth text-[14px];
  }

  .no-scrollbar::-webkit-scrollbar {
    @apply hidden;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .region {
    @apply w-full max-w-[1200px];
  }

  body {
    @apply bg-bg1 font-[var(--font-geist),var(--font-emoji),Arial,Helvetica,sans-serif] text-[var(--fn1)];
  }

  ::selection {
    @apply bg-fn1 text-bg1;
  }

  .lucide {
    @apply block h-[22px] w-[22px] stroke-2;
  }

  /* Headings */
  h1 {
    @apply text-h1 font-bold;
  }

  h2 {
    @apply text-h2;
  }

  h3 {
    @apply text-h3;
  }

  h4 {
    @apply text-h4;
  }

  h5 {
    @apply text-h5;
  }

  p,
  li,
  input,
  textarea,
  select {
    @apply text-p;
  }

  span,
  label {
    @apply text-span;
  }

  p + p {
    @apply mt-4;
  }

  a {
    @apply text-a no-underline;
  }

  input:focus,
  textarea:focus,
  select:focus {
    @apply outline-none;
  }

  button {
    @apply cursor-pointer;
  }
}
