:root,
[data-theme='light'],
html.light {
  --bg1: #f3dfd8;
  --bg2: #ffe3d6;
  --bg3: #ffd0bf;

  --fn1: #2b2b2b;
  --fn2: #5c5c5c;
  --fnA: #f3dfd8;

  --tn1: #e9493b;
}

[data-theme='dark'],
html.dark {
  --bg1: #1c1513;
  --bg2: #2b1f1c;
  --bg3: #3a2a26;

  --fn1: #f5f3f1;
  --fn2: #c5bdb9;
  --fnA: #ffffff;

  --tn1: #e9493b;
}
