name: Deploy to Cloudflare Pages

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - dev

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.3.0

      - name: Cache bun
        uses: actions/cache@v3
        with:
          path: ~/.bun/install/cache
          key: bun-cache-${{ runner.os }}-${{ hashFiles('bun.lockb') }}

      - name: Install dependencies
        run: bun i

      - name: Build (OpenNext)
        run: bun run build

      - name: Deploy to Cloudflare Pages (OpenNext)
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          projectName: nami-nami-web
          directory: .opennext
